package {{ .Pkg }}

import (
    _ "embed"
    "eflux-go-cassandra/generated/model"
)

{{- range .TreeNode.Tables}}
//go:embed scripts/create_{{ .Name | sc }}.cql
var create{{ .Name | tc }}Script string
{{- end}}

type By{{ .Name | tc }} struct {
    {{ .Name | tc }} model.{{ .Name | tc }} `json:"{{ .Name }}"`
    {{- range .TreeNode.Peers }}
    {{ . | tc }} *model.{{ . | tc }}  `json:"{{ . }},omitempty"`
    {{- end }}
    {{- range .TreeNode.Children }}
    {{ . | tc }}s []model.{{ . | tc }} `json:"{{ . }}s"`
    {{- end }}
}

func Save{{ .Name | tc }}({{ .Name}} model.{{ .Name | tc }}) error {
    {{- range .TreeNode.Tables}}
    println("save to {{ .Name }}")
    {{- end}}
    return nil
}
