package {{ .Pkg }}

import (
    "github.com/google/uuid"
    "time"
)

const {{ .Name | tc }}Type = "{{ .Name }}"

type By{{ .Name | tc }} struct {
    {{- range .Object.IdentifierAttributes }}
    {{ .Name | tc }} {{ .GoType }} `json:"{{ .Name }}"`
    {{- end }}
}

type {{ .Name | tc }} struct {
    {{- range .Object.Attributes }}
    {{ .Name | tc }} {{ .GoType }} `json:"{{ .Name }}"`
    {{- end }}
}
